@import '../../styles/colors.scss';

.button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  letter-spacing: 0.03857em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7rem;
  padding: 0.2em 1em;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    margin: 5px;
}

.primary {
  color: $withe-color;
  background: $main-color;
  border: 1px solid $main-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $primary-hover;
  }

  &:disabled {
    color: $grey-dark-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

.secondary {
  color: $withe-color;
  background: $secondary-color;
  border: 1px solid $secondary-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $secondary-hover;
    border: 1px solid $secondary-hover;
  }

  &:disabled {
    color: $grey-dark-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

.success {
  color: $withe-color;
  background: $success-color;
  border: 1px solid $success-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $success-hover;
  }

  &:disabled {
    color: $grey-dark-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

