$black: #111111;
$withe: #fff;
$grey-dark:#232b2b;
$grey-light: #d3d3d3;
$grey: #696969;
$grey-light: #ededed;
$primary: #007cc7;
$primary-hover: #1769aa;


$main-blue-color: #007cc7;
// button
$black-color: black;
$main-color: #007cc7;

$secondary-color: crimson;
$secondary-hover: #b2102f;
$success-color: #00a152;
$success-hover: #018f49;
$grey-light-color: #ededed;
$grey-dark-color: #919191;
$withe-color: #fff;
$base-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;


// input

$main-color: #007cc7;
//$primary: #1769aa;