/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; 
}