<div class="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="fields">
      <div class="input">
        <app-input [label]="'Name'" formControlName="name"></app-input>
      </div>
      <div class="checkbox">
        <app-checkbox [label]="'available'" formControlName="available"></app-checkbox>
      </div>
    </div>
    <div class="button">
      <app-button [style]="'success'" [isDisabled]="form.invalid && form.touched"  [buttonSubmit]="true">
        Create
      </app-button>
      <app-button (buttonClick)="cancel($event)">
        Cancel
      </app-button>
    </div>
  </form>
</div>
 