<div class="admin__menu">
    <app-menu></app-menu>
</div>

<div class="button__group">
    <app-add-button-group></app-add-button-group>
</div>

<app-category-info></app-category-info>


<app-modal [title]="'Info'" [active]="activeInfoModal" (buttonClick)="closeModalInfo()">
    <app-form-info></app-form-info>
</app-modal>

<app-modal [title]="'Category'" [active]="activeCategoryModal" (buttonClick)="closeModalCategory()">
    <app-form-category></app-form-category>
</app-modal>

<app-modal [title]="'Dish'" [active]="activeDishesModal" (buttonClick)="closeModalDish()">
    <app-form-dish></app-form-dish>
</app-modal>


<!-- <app-checkbox [(ngModel)]="inputOne" ></app-checkbox>
<app-input [(ngModel)]="externalValue"></app-input>
{{externalValue}} -->




<app-dish-card *ngFor="let dish of dishes" [dish]="dish"></app-dish-card>