<app-menu></app-menu>

<div class="add__buttons">
    <app-button [style]="'primary'"
     [buttonSubmit]="true" 
     [loading]="buttonLoading" 
     (buttonClick)="addNewCategory($event)">
    Add new category
    </app-button>
    <app-button 
    [style]="'primary'"
    [buttonSubmit]="true" 
    [loading]="buttonLoading" 
    (buttonClick)="addNewDish($event)">Add new dish
    </app-button>
</div>
<app-create-category-modal></app-create-category-modal>
<app-create-dish-modal></app-create-dish-modal>

<app-dish-card *ngFor="let dish of dishesService.dishes" [dish]="dish"></app-dish-card>