<div class="form">
<form  [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="fields">
        <div class="input">
            <app-input [label]="'Address'"  formControlName="address"></app-input>
        </div>
        <div class="input">
            <app-input [label]="'Phone'"  formControlName="phone"></app-input>
        </div>
        <div class="input">
            <app-input [label]="'Wifi'" formControlName="wifi"></app-input>
        </div>
    </div>
    <div class="button">
        <app-button 
        [style]="'success'" 
        [buttonSubmit]="true"
        [isDisabled]="disabled"
        [loading]="loading"
        >
            Update
        </app-button>
        <app-button 
        [buttonSubmit]="false"
        (buttonClick)="cancel($event)">
            Cancel
        </app-button>
    </div>
    <div class="errors">
        <div *ngIf="submitted && form.controls.name.errors?.required" class="error"> Name is required </div>
        <div *ngIf=" submitted && form.controls.name.errors?.minlength" class="error">Name must be more then 3 </div>
    </div>
</form>
</div>
