.menu__title{
  font-family: 'Playfair Display', serif !important;
  border-bottom: 1px solid #AAAAAA;
}

.nav__menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav__menu a{
  font-family: 'Playfair Display', serif !important;
  text-decoration: none;
  color: #111111;
  margin: 3px;
}

.nav__menu a:hover{
  text-decoration: none;
  color: #0074D9;
}

.nav__menu a:focus{
  text-decoration: none;
  color: #0074D9;
}