@import '../../styles/colors.scss';
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.title{
    margin-top: 20px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: $secondary;
   
}