<div class="loading" *ngIf="isLoading">
    <h3>Loading...</h3>
</div>
<div *ngIf="!isLoading">
    <div *ngIf="role == 'admin'">
        <div *ngIf="allDish">
            <div *ngFor="let category of categories">
                <div class="title">{{category.name}} </div>
                <app-dish-list *ngFor="let dish of dishes" [dish]="dish" [category]="category"></app-dish-list>
            </div>
        </div>
        <div *ngIf="!allDish">
            <app-dish-list *ngFor="let dish of dishes" [dish]="dish"></app-dish-list>
        </div>
    </div>
    <div *ngIf="role == 'menu'">
        <div *ngIf="allDish">
            <div *ngFor="let category of categories">
                <div *ngIf="category.available">
                    <div class="title">{{category.name}} </div>
                    <ng-container *ngFor="let dish of dishes">
                        <app-dish-list *ngIf="dish.available" [dish]="dish" [category]="category"></app-dish-list>
                    </ng-container>
                </div>
            </div>
        </div>
        <div *ngIf="!allDish">
            <ng-container *ngFor="let dish of dishes">
                <app-dish-list *ngIf="dish.available" [dish]="dish"></app-dish-list>
            </ng-container>
        </div>
    </div>
</div>