<div class="content">
    <div class="info">
    <div class="logo">
        <img
          class="restaurant__logo"
          src="https://www.logoground.com/uploads6/dv6y2018113252018-11-104546728Restaurant.jpg"
          alt="logo"
        />
      </div>

    </div>
    <div class="contact">
        <h3 *ngIf="info.phone">Contact: {{info.phone}} </h3>
        <p class="address"> {{info.address}} </p>

    </div>
    <div class="applications">
      <div>
        <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZx_9zDHlLnxALA_42N19B6OGG_tPhIJ2exsYLV9Y_5N2FfVrSp2KsioLky6cZnEoOIMk&usqp=CAU" alt="instagra,">
        <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUDNERI0mqlZjDEb0UZ6chUb27-y4LqnP01w&usqp=CAU" alt="facebok,">
      </div>
    </div>
</div>
