<div class="header">
  <div class="header__content">
    <div class="button__logo">
        <div class="logo">
        <img
          class="restoran__logo"
          src="https://www.logoground.com/uploads6/dv6y2018113252018-11-104546728Restaurant.jpg"
          alt="logo"
        />
      </div>
      <div class="burger__btn">
        <span></span>
      </div>
     
    </div>
    <div class="wifi__password">wifi : bon-apetit</div>
    <div class="contact">
      <p>095684086848</p>
      <img
        class="phone__logo"
        src="https://img.pngio.com/smartphone-vector-art-icon-web-icons-png-transparent-cell-phone-mobile-phone-icon-png-840_1486.png"
        alt="phone"
      />
    </div>
  </div>
</div>
