<div class="header">
  <div class="header__content">
    <div class="button__logo">
        <div class="logo">
        <img
          class="restaurant__logo"
          src="https://www.logoground.com/uploads6/dv6y2018113252018-11-104546728Restaurant.jpg"
          alt="logo"
        />
      </div>
      <div class="burger__btn" (click)="handlerClickBtn()">
        <span></span>
      </div>
    </div>
    <div class="search"><app-search-form></app-search-form></div>
<div>
 <div class="wifi" *ngIf="info.wifi">
        <div>wifi:</div>
        <div>{{info.wifi}}</div>
    </div>
</div>
   
  </div>
</div>
