.header {
  position: fixed;
  width: 100%;
  padding: 0px 20px 10px 0px;
  height: 60px;
  background-color: #ffffff;
  color: #333;
  -webkit-box-shadow: 1px 5px 11px -2px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 1px 5px 11px -2px rgba(34, 60, 80, 0.15);
  box-shadow: 1px 5px 11px -2px rgba(34, 60, 80, 0.15);
  z-index: 1000;
}

.header__content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button__logo {
  display: flex;
  align-items: center;
}

.burger__btn {
  width: 20px;
  height: 20px;
  margin-left: 20;
  position: relative;
  cursor: pointer;
}

.burger__btn:before {
  content: "";
  position: absolute;
  top: 0;
  width: 23px;
  background-color: #333;
  height: 2px;
}

.burger__btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 23px;
  background-color: #333;
  height: 2px;
}

.burger__btn span {
  content: "";
  position: absolute;
  top: 9px;
  width: 23px;
  background-color: #333;
  height: 2px;
}

.restoran__logo {
  height: 45px;
}

.wifi__password {
  font-size: x-small;
  padding-left: 55px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact p {
  font-size: x-small;
  padding-right: 20px;
  cursor: pointer;
}

.contact p:hover {
  color: #0074D9;
}

.phone__logo {
  height: 25px;
}

@media screen and (max-width: 400px) {
  .contact p {
    display: none;
  }
  .wifi__password {
  padding-left: 0;
  padding-right: 50px;
}
}
