<div *ngIf="categoryService.createCategoryModal">
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form">
          <div class="title">Create category</div>
          <div class="form-field">
            <div><app-input formControlName="name"></app-input></div>
            <div>
              <label class="container"
                >Available
                <input type="checkbox" checked="checked" formControlName="available" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <app-button 
          [style]="'primary'" 
          [buttonSubmit]="true" 
          >Add</app-button>
          <app-button [style]="'secondary'">Clare</app-button>
          <div *ngIf="errorControl('name')?.errors?.required" class="errors">
            Name is required
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
