
  <div class="dish__card">
    <img class="dish__img" src={{dish.img}} alt="альтернативный текст" />
    <div class="text__conteiner">
      <div class="text">
      <div class="dish__title"> {{dish.name}} </div>
      <div class="tag">{{ dish.top ? 'top' : '' }}</div>
      <div class="dish__info">
       {{dish.description}}
        </div>
    </div>
    <div class="price__info">
      <div class="price">{{dish.price}} $</div>
    </div>
    <div class="price__info">
      <div class="price">{{dish.weight}} </div>
    </div>
    </div>
  </div>

