<div class="form">
<form  [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="fields">
        <div class="input">
            <app-input [label]="'Address'" [placeholder]="info.address" formControlName="address"></app-input>
        </div>
        <div class="input">
            <app-input [label]="'Phone'" [placeholder]="info.phone" formControlName="phone"></app-input>
        </div>
        <div class="input">
            <app-input [label]="'Wifi'" [placeholder]="info.wifi" formControlName="wifi"></app-input>
        </div>
    </div>
    <div class="button">
        <app-button [style]="'success'" [buttonSubmit]="true">
            Update
        </app-button>
        <app-button (buttonClick)="cancel($event)">
            Cancel
        </app-button>
    </div>
</form>
</div>
