@import '../../styles/colors.scss';

.nav__category {
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  margin: 3px;
  font-size: small;
  padding: 3px;
  
 

  &:hover {
    text-decoration: none;
    color: $main-blue-color;
    cursor: pointer;
  }

  &:focus {
    text-decoration: none;
    color: $main-blue-color;
  }
}

 .available{
    color: $grey;
    text-decoration: line-through;
  }