.app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 0.5fr 10.5fr 1fr;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
}

.heade {
  grid-area: header;
}
.content {
  grid-area: content;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  grid-area: footer;
  background-color: #333;
}


