.title{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   font-size: 1.4rem;
}
.content {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;

   .button {
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
}
